* {
    margin: 0;
    padding: 0;
}
body {
    max-width: 1440px;
    margin: auto;
}
h1, h2, h3,h4 {
    font-family: "Noto Serif";
    font-weight: bold;
}
h1 {
    font-size: 4rem;
}


/* Google fonts */

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 22px;
}

/* Common Style */
.dark-1 {
    color: rgba(37, 36, 50, 1);
}
.dark-2 {
    color: rgba(137, 135, 161, 1);
}
.common-width {
    max-width: 1140px;
    margin: 0 auto;
}
.nav-container {
    width: 100%;
    margin: 30px 0 120px 0;
}
.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item {
    display: flex;
    gap: 1.5rem;
    color: rgb(137, 135, 161);
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
}
.nav-item>a {
    text-decoration: none;
}
.nav-item1{
    font-weight: 600;
}
.banner-container {
   display: flex;
}
.banner-item {
    flex: 1;
}


.common-orange {
    color: rgba(233, 90, 8, 1);
}

/* Our Plants Section */
.our-plant-container {
    text-align: center;
    margin-top: 120px;
}
.our-plant-title {
    font-size: 50px;
    font-weight: bold;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
    margin-top: 50px;
}
.card-item {
    text-align: center;
}
.font-bold {
    font-weight: bold;
    font-size: 22px;
}
.card-btn {
    background-color: rgba(233, 90, 8, 1);
    color: white;
    width: 100%;
    padding: 10px 0;
    font-size: 22px;
    font-weight: 400;
    margin-top: 20px;
    border: none;
}
.card-content {
    margin-top: 20px;
}

/* Flower lover section style */

.flower-lover-container {
    width: 100%;
    display: flex;
    padding-top: 200px;
    overflow: hidden;
}
.flower-lover-items {
    width: 50%;
    height: 300px;
    flex: 1;
}
.trusted-badge {
    width: 100%;
    height: 400px;
    position: relative;
    
}
.trust-icon {
    width:250px ;
    height:250px ;
    
}
.image-container {
    position: absolute;
    top: -120px;
    right: -120px;
}

.flower-items-content {
    padding: 0 20px;
    margin: 20px;
    align-self: center;
}
.flower-items-content ul {
    line-height: 25px;
}

/* Latest Deal Section Style */

.latest-deals-container {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
}
.latest-deals-title {
    font-size: 50px;
    font-weight: bold;
    margin: 50px auto;
}

.latest-deals-image-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    height: 420px; 
    
}
.common-item-style {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
   overflow: hidden;
}
.item-1 {
    grid-column: 1/5;
    background-image: linear-gradient(rgba(0, 0, 0, .4),rgba(0, 0, 0, .4)),url(./assets/deal-bloom.png);
    
}
.item-2 {
    grid-column: 5/-1;
    grid-row: 1/3;
    background-image: linear-gradient(rgba(0, 0, 0, .4),rgba(0, 0, 0, .4)),url(./assets/deal-zabo.png);
    
}
.item-3 {
    grid-column: 1/5;
    background-image:linear-gradient(rgba(0, 0, 0, .4),rgba(0, 0, 0, .4)), url(./assets/deal-ana.png);
   
}
.latest-deals-image-container a {
    color: white;
    text-decoration: underline;
}

/* Join Section Style */

.join-container {
    max-width: 1440px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image:linear-gradient(rgba(7, 51, 79, 0.4)), url(./assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.join-container-title {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}
.input-text{
   width:650px;
   height: 50px;
   font-size: 20px;
   color: black;
   padding-left: 20px;
}
.background-orange {
    background-color: rgba(233, 90, 8, 1);
    height: 50px;
    padding: 10px 20px;
    border: none;
    color: white;
    margin-left: 0;
}

/* Footer Section Style */

.footer-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    padding: 50px 150px;
}
.footer-div {
    padding: 0 10px;
}
.footer-div-2{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-direction: column;
}
.footer-div>a{
     text-decoration: none;
}
.footer-div-3{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-direction: column;
}
.footer-div-4{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.footer-icon {
    width: 36px;
    height: 36px;
}

/* Responsive */

@media screen and (max-width: 576px){
    body {
        margin: 0 10px;
    }
    .nav-item {
        padding-right: 10px;
        font-weight: bold;
    }
   .nav-item a:nth-child(1),
   .nav-item a:nth-child(2),
   .nav-item a:nth-child(3){
    display: none;
   }
    .banner-container {
        flex-direction:column-reverse;
        max-width: 560px;
    }
    .banner-title {
        font-size: 3rem;
    }
    .card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 5px;
    margin-top: 30px;
    margin: 0 auto;
    }
    .trust-icon {
        display: none;
    }
    .latest-deals-image-container {
    grid-template-columns: repeat(1, 1fr);
    height: 200px;
    width: 100%;
    margin-top: 0px;
    }
    .flower-lover-container {
    display: flex;
    flex-direction: column;
    }
    .latest-deals-container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 5px;
    overflow: hidden;
}
    .item-1 {
    grid-column: 1/-1;
    border-radius: 10px;
    height: 200px;
    width: 100%;
    overflow: hidden;
}
.item-2 {
    grid-column: 1/-1;
    border-radius: 10px;
    height: 200px;
    width: 100%;
    overflow: hidden;
}
.item-3 {
    grid-column: 1/-1;
    border-radius: 10px;
    height: 200px;
    width: 100%;
    overflow: hidden;
    }
    .join-container {
    max-width: 100%;
    overflow: hidden;
    }
   
    .join-container-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
    }
    .input-text{
    max-width:300px;
    height: 40px;
    }

     .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px 20px;
    text-align: center;
    }
}

